{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'account/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 5%;">Nro</th>
        <th scope="col" style="width: 15%;">No. Factura</th>
        <th scope="col" style="width: 10%;">Proveedor</th>
        <th scope="col" style="width: 10%;">Fecha de Compra</th>
        <th scope="col" style="width: 15%;">Valor</th>
        <th scope="col" style="width: 10%;">Abonado</th>
        <th scope="col" style="width: 10%;">Saldo</th>
        <th scope="col" style="width: 15%;">Estado</th>
        <th scope="col" style="width: 5%;">Opciones</th>
    </tr>
{% endblock %}

{% block javascript %}

{% endblock %}
