{% extends 'pages/index2.html' %}

{% load static %}
  {% block head %}
  <script src="{% static 'lib/highcharts-9.1.1/highcharts.js' %}"></script>
  <script src="{% static 'lib/highcharts-9.1.1/modules/exporting.js' %}"></script>
  <script src="{% static 'lib/highcharts-9.1.1/modules/export-data.js' %}"></script>
  <script src="{% static 'lib/highcharts-9.1.1/modules/accessibility.js' %}"></script>
  {% endblock %}
{% block appcontent %}
  <div class="container-fluid">
    <!--begin::Row-->
      <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ total_farms }}<sup style="font-size: 20px"> Finca(s)</sup></h3>

                <p>Administrar Fincas</p>
              </div>
              <div class="icon">
                <i class="fas fa-home"></i>
              </div>
              <a href="" class="small-box-footer">Administar Fincas <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        <div class="col-6">
          <!-- Default box -->
          <div class="card">
            <div class="card-header card-green">
              <h3 class="card-title">Title</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-lte-toggle="card-collapse" title="Collapse">
                    <i data-lte-icon="expand" class="bi bi-plus-lg"></i>
                    <i data-lte-icon="collapse" class="bi bi-dash-lg"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-lte-toggle="card-remove" title="Remove">
                    <i class="bi bi-x-lg"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">Start creating your amazing application!</div>
            <!-- /.card-body -->
              <div class="card-footer">Footer</div>
              <!-- /.card-footer-->
              </div>
            <!-- /.card -->
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
{% endblock %}
{% block footer %}

    <script>
        {% if messages %}
            var html = '<p>';
            {% for message in messages %}
                html += '{{ message }}<br>';
            {% endfor %}
            html += '</p>';
            Swal.fire({
                title: 'Error!',
                html: html,
                icon: 'error'
            });
        {% endif %}
    </script>
{% endblock %}
