<!DOCTYPE html>
{% load humanize %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        * {
            color: black;
        }

        body {
            font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
            padding: 0;
            font-size: 12px;
            margin: 0;
            color: black;
        }

        .name-company {
            font-size: 30px;
            padding: 0;
            margin: 0;
            font-weight: bold;
            text-transform: uppercase;
            text-align: left;
        }

        table thead tr th {
            border: 1px solid black !important;
            padding: 3px;
            background-color: red !important;
            text-align: center;
        }

        table tbody tr td {
            border: 1px solid black;
            padding: 3px;
            font-weight: normal;
            
        }

        .img-logo {
            margin-top: 10px;
            width: 75px;
            height: 75px;
            margin-bottom: 10px;
        }

    </style>
</head>
<body>
  <table style="width: 100%;">
    <th style="width: 35%;">
        <img src="{% static 'img/logo-bw.png' %}" class="img-fluid w-100 d-block img-logo">
    </th>
    <th>

    </th>
  </table>
    <table style="width: 100%;">
    <th style="width: 35%;">
      <div class="container-fluid">
    </th>
    <th>
    <table class="table" style="width: 100%;">
        <thead>
        <tr style="border: 1px solid black;">
            <th style="width: 25%;" class="text-center">FECHA FACTURA</th>
            <th style="width: 20%;" class="text-center">VENDEDOR</th>
            <th style="width: 25%;" class="text-center">FORMA DE PAGO</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">{{ sale.date_joined|date:'c' }}</td>
                <td class="text-center">{{ comp.vendor }} </td>
                <td class="text-center">{{ sale.get_type_payment_display }}</td>  
            </tr>
        </tbody>

    </table>
    </th>
    </table>
    <table class="table" style="width: 100%;">
      <td style="border: 1px solid black; width: 50%;">
        <b> {{ comp.name }} </b><br>
        <b>NIT:</b> {{ comp.nit }}<br>
        <b>Dirección: </b> {{ comp.address }}<br>
        <b>Ciudad: </b> {{ comp.city }}<br>
        <b>Teléfono: </b> 3156692427 <br>
      </td>
      <td style="border: 1px solid black;">
        <b>Cliente:</b> {{ sale.cli.get_full_name }}<br>
        <b>Número de cedula:</b> {{ sale.cli.dni }}<br>
        <b>Dirección:</b> {{ sale.cli.address }}<br>
        <b>Ciudad:</b> {{ sale.cli.city }}<br>
        <b>Teléfono:</b> {{ sale.cli.cellphone }}<br>
      </td>
    </table>
    <table class="table" style="width: 100%;">
        <thead>
        <tr style="border: 1px solid black;">
            <th style="width: 5%;">Item</th>
            <th style="width: 25%;">Producto</th>
            <th style="width: 10%;">Cantidad</th>
            <th style="width: 15%;">P.Unitario</th>
            <th style="width: 10%;">Descuento</th>
            <th style="width: 15%;" class="text-right">Subtotal</th>
        </tr>
        </thead>
        <tbody>
        {% for det in details %}
            <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td>{{ det.prod__name }}</td>
                <td class="text-center">{{ det.cant }}</td>
                <td class="text-center">${{ det.price|floatformat:0|intcomma }}</td>
                <td class="text-center">{{ det.discount|floatformat:0|intcomma }}% </td>
                <td class="text-right">${{ det.total_val|floatformat:0|intcomma }}</td>
            </tr>
        {% endfor %}
        {% if sale.type_payment == "CASH" %}
        
          <tr><td colspan="6"><br><br></td></tr>
          <td rowspan="5" colspan="4"><b>Nota:</b> <br> {{ sale.observation }}</td>
          <tr>
            <td class="text-right"><b>Subtotal</b></td>
            <td class="text-right">${{ sale.subtotal|floatformat:0|intcomma }}</td>
          </tr>
          <tr>
            <td class="text-right"><b>Iva</b></td>
            <td class="text-right">${{ sale.iva|floatformat:0|intcomma }}</td>
          </tr>
          <tr>
            <td class="text-right"><b>Descuento</b></td>
            <td class="text-right">${{ sale.discountall|floatformat:0|intcomma }}</td>
          </tr>
          <tr>
            <td class="text-right"><b>Total a pagar</b></td>
            <td class="text-right">${{ sale.total|floatformat:0|intcomma }}</td>
          </tr>
        {% elif sale.type_payment == "CREDIT" %}
        <tr><td colspan="6"><br><br></td></tr>
        <td rowspan="7" colspan="4"><b>Nota:</b> <br> {{ sale.observation }}</td>
        <tr>
            <td class="text-right"><b>Subtotal</b></td>
            <td class="text-right">${{ sale.subtotal|floatformat:0|intcomma }}</td>
        </tr>
        <tr>
            <td class="text-right"><b>Iva</b></td>
            <td class="text-right">${{ sale.iva|floatformat:0|intcomma }}</td>
        </tr>
        <tr>
            <td class="text-right"><b>Descuento</b></td>
            <td class="text-right">- ${{ sale.discountall|floatformat:0|intcomma }}</td>
        </tr>
        <tr>
            <td class="text-right"><b>Total a pagar</b></td>
            <td class="text-right">${{ sale.total|floatformat:0|intcomma }}</td>
        </tr>
          <tr>
            <td class="text-right"><b>Abonado</b></td><td class="text-right">$ {{ sale.down_payment|floatformat:0|intcomma }}</td>
          </tr>
          <tr>
            <td class="text-right"><b>Saldo</b></td><td class="text-right">$ {{ balance|floatformat:0|intcomma }}</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
      <table>
      <tbody>
            <td colspan="6">
                <p class="text-left">
                    **"Este documento es una factura de venta expedida conforme a lo establecido en el Estatuto Tributario 
                    y el Decreto 2242 de 2015. El adquirente tiene derecho a solicitar la factura con el cumplimiento de los 
                    requisitos legales. En caso de reclamos o devoluciones, se deberán presentar los soportes correspondientes 
                    dentro del término estipulado por la ley. <br>

                    Cualquier inquietud o solicitud relacionada con este documento podrá ser atendida a través de los canales de contacto del emisor."** <br>
                    !Gracias por su preferencia!<br>

                </p>
            </td>
        </tr>
        </tbody>
    </table> <br>
    <table style="width: 100%;">
      <td style="width: 20%;"><b>AUTORIZADO POR</b></td>
      <td style="width: 20%">{{ comp.name }}</td>
      <td><b>FIRMA DE ACEPTACION Y RECIBO</b></td>
      <td style="width: 35%"></td>
    </table> <br>
    <p class="text-uppercase font-weight-bold text-center" > ¡Porvafor revise su pedido antes de salir del establecimiento. 
    Una vez que usted haya salido del mismo, no hay derecho a reclamo ni devolución del producto!<br>
    </p>
</div>
</body>
</html>
